:root {
    // Шрифт для всего Арр - если его нет то используем резервный...
    --font-family-main: Consolas, "Times New Roman";

    // M:
    --font-size-m: 16px; // средний размер шрифта по умолчанию во всех текстах приложения
    --font-line-m: 24px; // высота линии шрифта -m
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main); // объединяющая переменная включающая в себя размер шрифта + размер лигии + сам шрифт

    // L:
    --font-size-l: 16px; //  размер шрифта будем использовать в заголовках
    --font-line-l: 32px; // высота линии шрифта -l
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main); // объединяющая переменная включающая в себя размер шрифта + размер лигии + сам шрифт

    // Размеры
    --navbar-height: 50px;

    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}


/*
- Переменные значат значения в scss фалах Компонент: Напримеер в файле Sidebar.module.scss
напишем так:
.collapsed {
// берем значение переменной из global.scss
    width: var(--sidebar-width-collapsed);
}

- Высоту линии шрифта -l- обычно делают на 8 рх больше чем -m-

- После описания стилей подключаем все эти свойства в index.scss
 */
