.Button{
    cursor: pointer;
    color: var(--primary-color);
}

.clear{
    // стилизуем кнопку убираем стандартные стили кнопки
    padding: 0;
    border: none;
    background: none;
    outline: none;
}
