// класс темы .dark - навешиваем на тот же блок  в котором у нас навешивается класс .арр
// можно на body навешивать не столь важно...
.app.dark {
    // Цвет заднего фона
    --bg-color: #090949;

    // Главный цвет приложения - цвет шрифта который делает акценты какие-то:
    // заголовки, кнопки, ссылки...,
    --primary-color: #049604;

    // Второстепенный цвет шрифта: обычный текст, параграфы...
    // - то на что не стоит делать акцент...
    --secondary-color: #04ff04;
}

/*
- Пример использования цветов: primary (темнее чем secondary...) - это заголовок,
а secondary - описание к нему
 */
