// класс темы .dark - навешиваем на тот же блок  в котором у нас навешивается класс .арр
// можно на body навешивать не столь важно...
.app.dark {
    // Цвета заднего ФОНА
    --bg-color: #090949; // основной
    --inverted-bg-color: #e8e8ea; // противоположный (у темной темы будет = основному цвету светлой темы)

    // Главный цвет приложения - цвет шрифта который делает акценты какие-то:
    --primary-color: #049604; // заголовки, кнопки, ссылки...,
    // Второстепенный цвет шрифта: обычный текст, параграфы...
    --secondary-color: #04ff04; // - то на что не стоит делать акцент...
    --inverted-primary-color: #0449e0;
    --inverted-secondary-color: #041c65;
}

/*

- Пример использования цветов: primary (темнее чем secondary...) - это заголовок,
а secondary - описание к нему

- Тёмная тема - те же переменные что и светлой темы только меняем значения цветов

- inverted - противоположный цвету противоположной темы

 */
