// класс темы .light- навешиваем на тот же блок  в котором у нас навешивается класс .арр
// можно на body навешивать не столь важно...
.app.light {
    // Цвет заднего фона
    --bg-color: #e8e8ea;

    // Главный цвет приложения - цвет шрифта который делает акценты какие-то:
    // заголовки, кнопки, ссылки...,
    --primary-color: #041c65;

    // Второстепенный цвет шрифта: обычный текст, параграфы...
    // - то на что не стоит делать акцент...
    --secondary-color: #0449e0;
}

/*
- Пример использования цветов: primary  primary (темнее чем secondary...)
это заголовок, а secondary - описание к нему

- Светлая тема - те же переменные что и темной темы только меняем значения цветов

- Подключаем переменные этого файла в index.scss
 */
